language: java
jdk:
  - openjdk16
install: mvn -Drevision=$TRAVIS_BUILD_NUMBER-RELEASE install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script: mvn -Drevision=$TRAVIS_BUILD_NUMBER-RELEASE test -B
services:
  - docker
before_deploy:
  if ! [[ $HYDRA_VERSION ]]; then
    export HYDRA_VERSION=$(mvn -Drevision=$TRAVIS_BUILD_NUMBER-RELEASE help:evaluate -Dexpression=project.version -q -DforceStdout) &&
    git config --local user.name "frozen00000" &&
    git config --local user.email "timur.levadny@gmail.com" &&
    echo "HYDRA_VERSION=$HYDRA_VERSION" &&
    git tag $HYDRA_VERSION;
  fi
deploy:
  - provider: script
    script: bash docker_push
    skip_cleanup: true
    on:
      branch: master
  - provider: releases
    api_key: "$GITHUB_OAUTH_TOKEN"
    skip_cleanup: true
    on:
      branch: master