language: java
jdk:
  - openjdk14
script: mvn -Drevision=$TRAVIS_BUILD_NUMBER-RELEASE test -B
services:
  - docker
before_deploy:
  - export HYDRA_VERSION=$(mvn -Drevision=$TRAVIS_BUILD_NUMBER-RELEASE help:evaluate -Dexpression=project.version -q -DforceStdout)
  - git config --local user.name "frozen00000"
  - git config --local user.email "timur.levadny@gmail.com"
  - git tag $HYDRA_VERSION
  - docker build -t timurlevadny/hydra .
deploy:
  - provider: script
    script: bash docker_push
    on:
      branch: master
  - provider: releases
    api_key: "$GITHUB_OAUTH_TOKEN"
    skip_cleanup: true
    on:
      branch: master